<mat-card class="main-wrapper mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <h1>Temas</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-theme-list (editTheme)="onEditTheme($event)" (deleteTheme)="onDeleteTheme($event)"></app-theme-list>
  </mat-card-content>
</mat-card>
<button mat-fab color="accent" (click)="onCreateTheme()">+</button>

