<h3 mat-dialog-title>Detalle de tema</h3>
<mat-dialog-content>
  <form id="detail-form">
    <!--Input-->
    <mat-form-field>
      <input matInput type="text" placeholder="Nombre" [(ngModel)]="theme.name" name="name" required />
      <mat-error>Debes completar este campo</mat-error>
      <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="theme.name=''">
        <mat-icon>x</mat-icon>
      </button>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="(isUpdating()) ? update() : create()" >{{(isUpdating()) ? 'Actualizar' : 'Crear'}}</button>
</mat-dialog-actions>
