mat-card{
  width: 60%;
  margin-left: 20%;
  margin-top: 20vh;
  margin-bottom: 20vh;
  height: 40vh;
}
mat-card-content{
  overflow: auto;
  height: 75vh;
}

mat-form-field{
  width: 49%;
}

@media (max-width: 700px) {
  mat-form-field{
    width: 100%;
  }
}

button[mat-fab]{
  position: fixed;
  right: 7%;
  bottom: 10%;
}
