<mat-card class="main-wrapper mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <h1>Login</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="detail-form">
      <!--Input-->
      <mat-form-field>
        <input matInput type="text" placeholder="Nombre" [(ngModel)]="username" name="username" required />
        <mat-error>Debes completar este campo</mat-error>
      </mat-form-field>

      <!--Input-->
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required/>
        <mat-error>Debes completar este campo</mat-error>
      </mat-form-field>
      <button mat-button (click)="onSingIn()">Acceder</button>
    </form>
  </mat-card-content>
</mat-card>

