<mat-toolbar *ngIf="showMenu">
  <nav>
    <button *ngIf="authService.hasRights('ADMIN','USER')" mat-button routerLink="/votes" routerLinkActive="active">Votos</button>
    <button *ngIf="authService.hasRights('ADMIN')" mat-button routerLink="/themes" routerLinkActive="active">Temas</button>
    <button mat-button routerLink="/login" class="exit">Salir</button>
  </nav>
</mat-toolbar>
