<h3 mat-dialog-title>Detalle de voto</h3>
<mat-dialog-content>
  <form id="detail-form">
    <!--Input-->
    <mat-form-field>
      <input matInput type="number" pattern="([0-9]{1}|10)" placeholder="Valor" [(ngModel)]="vote.value" name="name" required />
      <mat-error>Introduce un número entre 0 y 10</mat-error>
      <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="vote.name=''">
        <mat-icon>x</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Tema" [formControl]="themeControl" required>
        <mat-option *ngFor="let theme of themes" [value]="theme.id" >
          {{ theme.name }}
        </mat-option>
      </mat-select>
      <mat-error>Debes completar este campo</mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="(isUpdating()) ? update() : create()" >{{(isUpdating()) ? 'Actualizar' : 'Crear'}}</button>
</mat-dialog-actions>
