mat-card{
  width: 60%;
  margin-left: 20%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 70vh;
}
mat-card-content{
  overflow: auto;
  height: 60vh;
}

button[mat-fab]{
  position: fixed;
  right: 7%;
  bottom: 10%;
}
