<mat-table #table [dataSource]="dataSource">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Tema </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.theme.name}} </mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Puntuación </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.value }} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editVote.emit(element)">
        <mat-icon aria-label="Edit vote">mode edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteVote.emit(element)">
        <mat-icon aria-label="Delete vote">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<h4 *ngIf="dataSource && dataSource.data.length === 0" class="empty-message">La lista de votes está vacia</h4>
