<mat-card class="main-wrapper mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      <h1>Votos</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-vote-list (editVote)="onEditVote($event)" (deleteVote)="onDeleteVote($event)"></app-vote-list>
  </mat-card-content>
</mat-card>
<button mat-fab color="accent" (click)="onCreateVote()">+</button>

