<h3 mat-dialog-title>¿Estás seguro que deseas eliminar este voto?</h3>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="delete()" >Borrar</button>
</mat-dialog-actions>
